/* Top Section */
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  padding-bottom: 10px;
  align-items: center;
  width: 100%;
  background-color: white;
  top: 0px;
  right: 0px;
  left: 0px;
}
header nav {
  padding-right: 40px;
}
header span {
  color: MediumAquamarine;
  padding-left: 10px;
}
header nav a {
  color: black;
}
nav span {
  display: inline-block;
  padding-top: 5px;
  padding-left: 30px;
}
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-top: 5px;
  padding-left: 30px;
}
/* Middle Section */
.content {
  display: flex;
  padding-top: 100px;
}
.column {
  display: flex;
  flex-direction: column;
}



div {
  border: 1px solid black;
}
